{{- $ctx := . -}}

{{- /* Safely extract the page context out of PaperMod's custom dictionary loop */ -}}
{{- if reflect.IsMap . -}}
  {{- if .cxt -}}
    {{- $ctx = .cxt -}}
  {{- end -}}
{{- end -}}

{{- $covertable := "" -}}

{{- with $ctx }}
    {{- if .Params.thumbnail -}}
        {{- $covertable = .Params.thumbnail -}}
    {{- end -}}

    {{- if ne $covertable "" }}
        <figure class="entry-cover">
            <img loading="lazy" src="{{ $covertable | relURL }}" alt="{{ .Title }}">
        </figure>
    {{- else -}}
        {{- $images := partial "templates/_funcs/get-page-images" . }}
        {{- with index $images 0 }}
            <figure class="entry-cover">
                <img loading="lazy" src="{{ .Permalink }}" alt="{{ $ctx.Title }}">
            </figure>
        {{- end }}
    {{- end }}
{{- end }}